*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    
    display: block;
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

p {
    margin: 0;
}
.search-form {
    display: flex;
    justify-content: center;
    padding:8px;
    margin-bottom: 24px;
}

.load-more.is-hidden{
  display: none;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: calc(100vw - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
    


.info {
    display: flex;

}
.gallery img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}